@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="renderer" content="webkit">
    <title>登录</title>
    <link href="~/Css/login.css" rel="stylesheet" />
    <link href="~/Css/style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.8.3.min.js"></script>
    <script src="~/Scripts/common.js"></script>
    <script type="text/javascript">
        $(function () {
            localStorage.clear();
        });
        $(document).keyup(function (event) {
            if (event.keyCode == 13) {
                login();
            }
        });
        function login() {
            $("#button").val("正在登录中...");
            var account = $("#txtAccount").val();
            var password = $("#txtPassword").val();
            var validateCode = $("#code").val();
            if (account == "") {
                $("#txtAccount").focus();
                $("#button").val("登录");
                alert('登录账户不能为空');
            } else if (password == "") {
                $("#txtPassword").focus();
                $("#button").val("登录");
                alert('登录密码不能为空');
            } else if (validateCode == "") {
                $("#code").focus();
                $("#button").val("登录");
                alert('验证码不能为空');
            } else {
                var url = "/Common/Login/Login";
                var dataMap = { UserName: account, Password: password, CheckCode: validateCode };
                $.ajaxjson(url, dataMap, function (data) {
                    var d = eval(data);
                    var state = d.state;
                    var message = d.message;
                    //return checkReturn(d);
                    if (state == 0) {
                        window.location.href = "/Home/Index"
                    } else {
                        $("#button").val("登录");
                        alert(message);
                    }
                });
            }
        }
    </script>
</head>
<body>

    <div class="bg"></div>
    <div class="container">
        <div class="line bouncein">
            <div class="xs6 xm4 xs3-move xm4-move">
                <div style="height:150px;"></div>
                <div class="media media-y margin-big-bottom">
                </div>
                <form action="index.html" method="post">
                    <div class="panel loginbox">
                        <div class="text-center margin-big padding-big-top">
                            <h1>后台管理中心</h1>
                        </div>
                        <div class="panel-body" style="padding:30px; padding-bottom:10px; padding-top:10px;">
                            <div class="form-group">
                                <div class="field field-icon-right">
                                    <input type="text" class="input input-big" name="name" id="txtAccount" placeholder="登录账号" maxlength="10">
                                    <span class="icon icon-user margin-small"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="field field-icon-right">
                                    <input type="password" class="input input-big" name="password" id="txtPassword" placeholder="登录密码" maxlength="10">
                                    <span class="icon icon-key margin-small"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="field">
                                    <input type="text" class="input input-big" name="code" placeholder="填写右侧的验证码" id="code" maxlength="4">
                                    <img src="/Login/ValidateCode" alt="" width="100" height="32" class="passcode" style="height:43px;cursor:pointer;" onclick="this.src=this.src+'?'">
                                </div>
                            </div>
                        </div>
                        <div style="padding:30px;">
                            <input type="button" id="button" class="button button-block bg-main text-big input-big" value="登录" onclick="login()"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
