@RenderPage("~/Views/Shared/_FormHeadLayout.cshtml")
<div class="modal-content" style="width:100%;height:100%">
    <form id="signupForm" class="form-horizontal" role="form" action="/Member/UserGroup/SetRolesUserGroup" method="post" enctype="multipart/form-data">
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-12">

                        <input id="json" type="hidden" name="json" value="" />
                        <input id="userGroupId" type="hidden" name="userGroupId" value="" />
                        <div class="profile-user-info profile-user-info-striped" id="checkbox">

                                <div class="profile-info-row">
                                    <div class="profile-info-value">
                                        <div class="control-group">
                                            <div class="checkbox">
                                            @foreach (Manage.Data.Sys_Role item in (ViewData["RoleList"] as IEnumerable<Manage.Data.Sys_Role>))
                                             {
                                                <label>
                                                    <input name="form-field-checkbox" type="checkbox" class="ace"
                                                        Role_Id="@item.Id" UserGroup_Id="@ViewBag.UserGroup_Id" 
                                                           @if (item.Check == true) { WriteLiteral("checked"); }/>
                                                    <span class="lbl"> @item.RoleName</span>
                                                </label>
                                             }
                                            </div>
                                        </div>
                                    </div>
                                </div>

                        </div>

                </div>
            </div>
        </div>
        <div class="modal-footer" style="position: absolute; bottom: 0; height: 60px; width:100%;">
            <button class="btn btn-sm btn-info" type="button" onclick="doSave()">
                <i class="ace-icon fa fa-check bigger-110"></i>确定
            </button>
            <button class="btn btn-sm btn-danger pull-right" data-dismiss="modal" onclick="bDialog.close()">
                <i class="ace-icon fa fa-times"></i>取消
            </button>
        </div>
    </form>
</div>
<script type="text/javascript">
    function doSave() {
        var dMap = [];
        $("#checkbox input:checkbox:checked").each(function () {
            var map = {};
            map["Role_Id"] = $(this).attr("Role_Id");
            map["UserGroup_Id"] = $(this).attr("UserGroup_Id");
            dMap.push(map);
        });
        $("#json").val(JSON.stringify(dMap));
        $("#userGroupId").val("@ViewBag.UserGroup_Id");
        //alert(JSON.stringify(dMap));

        $('#signupForm').ajaxSubmit({
            success: function (responseText) {
                var d = eval(JSON.parse(responseText));
                if (d.state == 0) {
                    bDialog.close({ state: 0 });
                } else {
                    bDialog.alert(d.message, null, { messageType: 'error' });
                }
            }
        });
    }
</script>