<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="ManageDBEntities" connectionString="
       metadata=res://*/ManagerDBContext.csdl|res://*/ManagerDBContext.ssdl|res://*/ManagerDBContext.msl;
       provider=System.Data.SqlClient;
       provider connection string=&quot;
       data source=DESKTOP-C1P28N0\SQL2012;
       initial catalog=ManageDB;
       persist security info=True;
       user id=sa;
       password=123456;
       MultipleActiveResultSets=True;
       App=EntityFramework&quot;" 
       providerName="System.Data.EntityClient" />
</connectionStrings>
